[Unit]
Description=Envoy Proxy
After=network.target

[Service]
User=isucon
ExecStart=/usr/bin/envoy -c /etc/envoy/config.yaml --concurrency 1
RuntimeDirectory=envoy
LogsDirectory=envoy
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

<%- if node[:envoy][:slice] -%>
Slice=<%= node[:envoy][:slice] %>
<%- end -%>

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
