*_pb.rb linguist-generated=true

/webapp/golang/proto/**/*.go  linguist-generated=true

/webapp/frontend/javascript/pb.*  linguist-generated=true
/webapp/frontend/javascript/pb_admin.*  linguist-generated=true
/webapp/frontend/sw/src/pb.*  linguist-generated=true
/webapp/frontend/javascript/ScoreGraphColors.tsx linguist-generated=true

/webapp/nodejs/proto/**/*.js linguist-generated=true
/webapp/nodejs/proto/**/*.ts linguist-generated=true
