*_pb.rb linguist-generated=true

/webapp/golang/proto/**/*.go  linguist-generated=true

/webapp/frontend/javascript/pb.*  linguist-generated=true
/webapp/frontend/javascript/pb_admin.*  linguist-generated=true
/webapp/frontend/sw/src/pb.*  linguist-generated=true
/webapp/frontend/javascript/ScoreGraphColors.tsx linguist-generated=true

/webapp/ruby/debug/**/* export-ignore
/webapp/rust/debug/**/* export-ignore
/webapp/golang/debug/**/* export-ignore
/webapp/nodejs/debug/**/* export-ignore

/webapp/golang/cmd/debug/**/* export-ignore
/webapp/golang/cmd/debug/send_web_push/* -export-ignore
