[Unit]
Description=xsuportal-api-ruby
After=network.target

[Service]
User=isucon
ExecStart=/home/isucon/.x bundle exec ruby bin/benchmark_server.rb
WorkingDirectory=/home/isucon/webapp/ruby
EnvironmentFile=/home/isucon/env

<%- if node[:xsuportal][:slice] -%>
Slice=<%= node[:xsuportal][:slice] %>
<%- end -%>

[Install]
WantedBy=multi-user.target
