[Unit]
Description=xsuportal-web-ruby
After=network.target mysql.service

[Service]
User=isucon
ExecStart=/home/isucon/.x bundle exec puma
WorkingDirectory=/home/isucon/webapp/ruby
EnvironmentFile=/home/isucon/env
Environment=RACK_ENV=production

<%- if node[:xsuportal][:slice] -%>
Slice=<%= node[:xsuportal][:slice] %>
<%- end -%>

[Install]
WantedBy=multi-user.target
