[Unit]
Description=xsuportal-web-rust
After=network.target mysql.service

[Service]
User=isucon
ExecStart=/home/isucon/.x /home/isucon/webapp/rust/target/release/portal
WorkingDirectory=/home/isucon/webapp/rust
EnvironmentFile=/home/isucon/env

<%- if node[:xsuportal][:slice] -%>
Slice=<%= node[:xsuportal][:slice] %>
<%- end -%>

[Install]
WantedBy=multi-user.target
