[Unit]
Description=xsuportal-web-rust
After=network.target

[Service]
User=isucon
ExecStart=/home/isucon/.x /home/isucon/webapp/rust/target/portal
WorkingDirectory=/home/isucon/webapp/rust
EnvironmentFile=/home/isucon/env
Environment=SERVER_PORT=3000

<%- if node[:xsuportal][:slice] -%>
Slice=<%= node[:xsuportal][:slice] %>
<%- end -%>

[Install]
WantedBy=multi-user.target
