[Unit]
Description=isuxportal-supervisor
Wants=isuxportal-supervisor-init.service
After=isuxportal-supervisor-init.service network.target
StartLimitIntervalSec=0

[Service]
User=isucon
ExecStart=/usr/bin/isuxportal-supervisor /home/isucon/benchmarker/bin/benchmarker \
          -tls \
          -host-advertise isubench.t.isucon.dev
WorkingDirectory=/home/isucon/benchmarker
LogsDirectory=isuxportal-supervisor

LimitNOFILE=2000000

#Environment=ISUXPORTAL_SUPERVISOR_ENDPOINT_URL=https://portal-grpc-dev.x.isucon.dev
#Environment=ISUXPORTAL_SUPERVISOR_ENDPOINT_URL=https://portal-grpc-prd.x.isucon.dev
#Environment=ISUXPORTAL_SUPERVISOR_TOKEN=himitsu
#Environment=ISUXPORTAL_SUPERVISOR_TEAM_ID=12345
Environment=ISUXPORTAL_SUPERVISOR_INSTANCE_NAME=%H
# TODO: hard timeout
Environment=ISUXPORTAL_SUPERVISOR_HARD_TIMEOUT=110
Environment=ISUXPORTAL_SUPERVISOR_LOG_DIRECTORY=/var/log/isuxportal-supervisor
Environment=ISUXPORTAL_SUPERVISOR_INTERVAL_AFTER_EMPTY_RECEIVE=2

EnvironmentFile=/run/isuxportal-supervisor.env

RestartSec=2s
Restart=always

<%- if node.dig(:benchmarker, :slice) -%>
Slice=<%= node.dig(:benchmarker, :slice) %>
<%- end -%>

[Install]
WantedBy=multi-user.target
