<!DOCTYPE html>
<html lang='ja'>
  <head>
    <title>XSUCON Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="xsu:api-base-url" content="/">

    <link rel="stylesheet" media="all" href="/assets/application.css" />
    <script src="/assets/vendor.js"></script>
    <script src="/assets/application.js"></script>
  </head>

  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">XSUCON Portal</a>
        </div>
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <a class="navbar-item" href="/">チーム一覧</a>
            <a class="navbar-item" href="/terms">規約</a>
            <a class="navbar-item" href="/rules">レギュレーション</a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <div class="xsu-visibility-user">
                  <%- # TODO: what if after registration close...? -%>
                  <a class="button is-light" href="<%#= registration_path %>">登録確認</a>
                  <a class="button is-light" data-method="delete" href="<%#= session_path %>">ログアウト</a>
                </div>
                <div class="xsu-visibility-guest">
                  <a class="button is-light" href="<%#= registration_path %>">参加登録</a>
                  <a class="button is-light" href="/auth/github">ログイン</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
